<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <button ion-button icon-only (click)="logout()" float-right>
        <ion-icon name="md-log-out" color="dark"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title style="text-align: center">ONLINE USERS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
      <ion-item *ngFor="let user of dbUser | async" (click)="chat(user)">
        <ion-avatar item-start>
          <img [src]="user.picture" style="width: 75px; height: 75px;">
        </ion-avatar>
        <h2>NAME: {{ user.username }}</h2>
        <p>Email Address: {{ user.email }}</p>
        <p>Status: {{ user.status }}</p>
        <span class="dot" *ngIf="user.status == 'online'" item-end></span>
      </ion-item>
  </ion-list>
</ion-content>